requests
urllib3
annoy
boto3
elasticsearch
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.0.0/en_core_web_lg-3.0.0.tar.gz
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.0.0/en_core_web_md-3.0.0.tar.gz
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
fastapi_utils
fuzzywuzzy
gensim
matplotlib
networkx
nltk
numpy
packaging
pandas
psycopg2
pytest
PyYAML
redis
scikit_learn
spacy==3.0.6
tensorflow==2.5.0
torch
tqdm
transformers
txtai
wikipedia